<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @company.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @company.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company.email %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @company.is_active %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @company.company_name %>
</p>

<p>
  <strong>About company:</strong>
  <%= @company.about_company %>
</p>

<p>
  <strong>Location:</strong>
  <%= @company.location %>
</p>

<p>
    In Postcode: <%= @company.postcodes.map(&:name).join(',') %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @company.logo %>
</p>

<p>
  <strong>Service:</strong>
  <%= @company.service %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
