<main class="main-content p-5" role="main">
	<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="/admin">Dashboard</a>
				</li>
				<li class="breadcrumb-item active">Conversations</li>
			</ol>
			<div class="row">
				<div class="col-md-12">
					<h1>
						&nbsp; Conversations</h1>
				</div>
			</div>
			<br>
		</div>
		<div class="col-md-12">
			<div class="card">
				<div class="card-body product-page">
					<div class="tab-content" id="JobsTabContent">
						<div class="tab-pane fade show active" id="upcoming" role="tabpanel" aria-labelledby="upcoming-tab">
							<div class="table-responsive">
								<table class="table table-striped dataTables-example display nowrap" style="width:100%">
									<thead>
										<tr>
                      <th>ID</th>
                      <th>Customer Name</th>
                      <th>Partner Name</th>
                      <th>Last Updated at</th>
											<th>Is Active?</th>
											<th>View Messages</th>
										</tr>
									</thead>
									<tbody>
										<% if @conversations.length > 0  %>
											<% @conversations.each do |conversation| %>
												<tr>
                        <td><%= conversation.id %></td>
                        <td><%= conversation.recipient_id %></td>
												<td><%= conversation.sender_id %></td>
                        <td><%= conversation.updated_at %></td>
                        <td><%= conversation.is_active %></td>
												<td><%= link_to 'View Messages', admin_conversation_messagespage_path(conversation), class: 'btn btn-success waves-effect waves-light'  %></td>												</tr>
											<% end %>
										</tbody>
									<% else %>
										<tbody>
											<tr></tr>
										</tbody>
									<% end %>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			$(function () {

				$('.dataTables-example').DataTable({
					pageLength: 25,
					orderable: true,
					rowReorder: {
						selector: 'td:first-child'
					},
					responsive: true,
					dom: '<"html5buttons"B>lTfgitp',
					buttons: [
						{
							extend: 'copy'
						}, {
							extend: 'csv',
							title: 'Selected Customers'
						}, {
							extend: 'excel',
							title: 'Selected Customers'
						}, {
							extend: 'pdf',
							title: 'Selected Customers'
						}, {
							extend: 'print'
						}
					]

				});

			});
		</script>

	</main>
