<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :job_user_id %>
  </div>

  <div class="field">
    <%= form.label :task_id %>
    <%= form.number_field :task_id, id: :job_task_id %>
  </div>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.number_field :company_id, id: :job_company_id %>
  </div>

  <div class="field">
    <%= form.label :booking_date %>
    <%= form.date_select :booking_date, id: :job_booking_date %>
  </div>

  <div class="field">
    <%= form.label :booking_time %>
    <%= form.text_field :booking_time, id: :job_booking_time %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :job_price %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :job_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
