<main class="main-content p-5" role="main">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/partner">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Selected Categories</li>
      </ol>
      <div class="row">
        <div class="col-md-6">
          <h1>&nbsp; Selected Categories</h1>
        </div>
				<div class="col-md-6"><%= link_to 'Add/Select Categories', partner_company_selected_categories_path, data: {toggle: "modal", target: "#modal-window"}, remote: true, class: 'btn btn-success waves-effect waves-light float-right' %>
	<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content"></div>
		</div>
	</div>
</div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-body product-page">
          <div class="tab-content" id="JobsTabContent">
						<div class="tab-pane fade show active" id="upcoming" role="tabpanel" aria-labelledby="upcoming-tab">
              <div class="table-responsive">
         <table class="table table-striped dataTables-example" style="width:100%;">
           <thead>
                   <tr>
                     <th>ID</th>
                     <th>Name</th>
                     <th>Manage Categories</th>
                   </tr>
                 </thead>
                 <tbody>
                   <% if @categories.length > 0  %>
                        <% @categories.each do |category| %>
                         <tr>
                           <td><%= category.id %></td>
                           <td><%= category.category.name %></td>
                           <td>
  												 			<%= link_to 'Edit Price', edit_partner_company_selected_category_path(category.id,@category), data: {toggle: "modal", target: "#modal-window"}, remote: true, class: 'btn btn-success waves-effect waves-light' %>
																<%= link_to(raw('Options <i class="fa fa-pencil"></i>'), partner_sub_category_path(category.category_id,@category, company_id: @company_id), { :class=>"btn btn-primary" }) %>
																<%= link_to 'Destroy', partner_company_selected_category_path(category), method: :delete, data: { confirm: 'Are you sure?' },:class=>'btn btn-danger' %>
                          </td>
                          </tr>
                  <% end %>
                  </tbody>
             <% else %>
             	<tbody>
                <tr>
             		<td> </td>
             	</tr>
              </tbody>
             <% end %>
       </table>
      </div>
            </div>
						</div>
          </div>
        </div>
      </div>

      <script type="text/javascript">

              $(function () {

                $('.dataTables-example').DataTable({
                  pageLength: 25,
                  orderable: true,
                  rowReorder: {
                    selector: 'td:first-child'
                  },
                  responsive: true,
                  dom: '<"html5buttons"B>lTfgitp',
                  buttons: [
                    {
                      extend: 'copy'
                    }, {
                      extend: 'csv',
                      title: 'Selected Customers'
                    }, {
                      extend: 'excel',
                      title: 'Selected Customers'
                    }, {
                      extend: 'pdf',
                      title: 'Selected Customers'
                    }, {
                      extend: 'print'
                    }
                  ]

                });

              });
            </script>

						<script type="text/javascript">

			              $(function () {

			                $('.dataTables-example2').DataTable({
			                  pageLength: 25,
			                  orderable: true,
			                  rowReorder: {
			                    selector: 'td:first-child'
			                  },
			                  responsive: true,
			                  dom: '<"html5buttons"B>lTfgitp',
			                  buttons: [
			                    {
			                      extend: 'copy'
			                    }, {
			                      extend: 'csv',
			                      title: 'Selected Customers'
			                    }, {
			                      extend: 'excel',
			                      title: 'Selected Customers'
			                    }, {
			                      extend: 'pdf',
			                      title: 'Selected Customers'
			                    }, {
			                      extend: 'print'
			                    }
			                  ]

			                });

			              });
			            </script>

    </main>
