<main class="main-content p-5" role="main">
	<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="/admin">Dashboard</a>
				</li>
				<li class="breadcrumb-item active">Package Details</li>
			</ol>
			<div class="row">
				<div class="col-md-6">
					<h1>
						&nbsp; Package Details</h1>
				</div>
				<div class="col-md-6"><%= link_to 'Add Package', new_admin_packagedetail_path, data: {toggle: "modal", target: "#modal-window"}, remote: true, class: 'btn btn-success waves-effect waves-light float-right' %>
					<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content"></div>
						</div>
					</div>
				</div>
			</div>
			<br>
		</div>
		<div class="col-md-12">
			<div class="card">
				<div class="card-body product-page">
					<div class="tab-content" id="JobsTabContent">
						<div class="tab-pane fade show active" id="upcoming" role="tabpanel" aria-labelledby="upcoming-tab">
							<div class="table-responsive">
								<table class="table table-striped dataTables-example1 display nowrap" style="width:100%">
									<thead>
										<tr>
											<th>Package ID</th>
											<th>Package Name</th>
											<th>Order Limit</th>
											<th>Postcode Limit</th>
											<th>User Limit</th>
											<th>Allow Manual Bookings</th>
											<th>Allow Advanced Reports</th>
											<th>Allow API Access</th>
											<th>Monthly Cost</th>
											<th>Edit</th>
											<th>Delete</th>
										</tr>
									</thead>
									<tbody>
										<% if @packagedetails.length > 0  %>
											<% @packagedetails.each do |packagedetails| %>
												<tr>
													<td><%= packagedetails.id %></td>
													<td><%= packagedetails.package_name %></td>
													<td><%= packagedetails.order_limit %></td>
													<td><%= packagedetails.postcode_limit %></td>
													<td><%= packagedetails.user_limit %></td>
													<td><%= packagedetails.manual_bookings %></td>
													<td><%= packagedetails.advanced_reports %></td>
													<td><%= packagedetails.api_access %></td>
													<td><%= packagedetails.monthly_cost %></td>
													<td><%= link_to 'Edit Package', edit_admin_packagedetail_path(packagedetails), data: {toggle: "modal", target: "#modal-window"}, remote: true, class: 'btn btn-success waves-effect waves-light'  %></td>
													<td><%= link_to 'Delete Package', admin_packagedetail_path(packagedetails), :method => :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger waves-effect waves-light'  %></td>
												</tr>
											<% end %>
										</tbody>
									<% else %>
										<tbody>
											<tr></tr>
										</tbody>
									<% end %>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			$(function () {

				$('.dataTables-example1').DataTable({
					pageLength: 25,
					orderable: true,
					rowReorder: {
						selector: 'td:first-child'
					},
					responsive: true,
					dom: '<"html5buttons"B>lTfgitp',
					buttons: [
						{
							extend: 'copy'
						}, {
							extend: 'csv',
							title: 'Selected Customers'
						}, {
							extend: 'excel',
							title: 'Selected Customers'
						}, {
							extend: 'pdf',
							title: 'Selected Customers'
						}, {
							extend: 'print'
						}
					]

				});

			});
		</script>

	</main>
